body{
    background-color: #ffdf00;
font-family: Arial, sans-serif;
}
.site{
    background-color: white;
margin:50px;
border-radius: 80px;
padding: 20px;
max-width:790px;
max-height: 790px;
}
.conteiner{
    display: flex;
    
    margin:20px;
    

}
.navegue{
    margin:20px;
}
.navegue p{
    position:absolute;
    top:340px;
    
    
}